*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    min-height: 100%;
    min-width: 100%;
    background: #018DED url(https://unsplash.it/1500/1000?image=881&blur=5);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'helvetica neue';
    font-size: 10px;
  }

  body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
  }

  .headcontainer{
      position: absolute;
      top: 0;
      display: flex;
      justify-content: center;
      width: 100%;

  }
.head{
    position: absolute;
    top: 0;
    margin: 0 auto;
    font-size: 3rem;
    font-family: 'Otomanopee One', sans-serif;
    background: linear-gradient(to top,rgb(10, 223, 205) 50%, rgb(80, 178, 190) 100%);
    padding: 20px 20px;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 0 30px 3px #0adfcd;
}

.clock{
    width: 30rem;
    height: 30rem;
    border: rgb(189, 186, 186) solid 20px;
    margin: 50px auto;
    padding: 2rem;
    position: relative;
    border-radius: 50%;
    box-shadow: 
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px #000,
    0 0 10px rgba(0,0,0,0.2);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
  }

.hand{
    width: 50%;
    height: 6px;
    background: #000;
    position: absolute;
    top: 50%;
    transform: rotate(90deg);
    transform-origin: 100%;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
